@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@DateTime.Now</h2>
    <p>This is my website about CoffeeShop! Make you feel good :) </p>

    @model Users
    <h2>@Model.Name</h2>
    <p>@Model.Address</p>
</div>
